<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller</title>
    <style>
        .container {
            margin-top: 150px;
        }

        .control-buttons {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .arrow-button {
            font-size: 20px;
            padding: 10px;
            cursor: pointer;
            margin: 5px; /* Adjust this margin to control the spacing between buttons */
        }
    </style>
</head>
<body>
    <h1>Controller Page</h1>
    <div style="margin-bottom: 30px;">
        <p id="motorStatus">Motors: {{data_from_button}}</p>
        <button
            id="onButton"
            {%
            if
            data_from_button=="ON"
            %}disabled{%
            endif
            %}
            onclick="motorController('ON')"
        >
            ON
        </button>
        <button
            id="offButton"
            {%
            if
            data_from_button=="OFF"
            %}disabled{%
            endif
            %}
            onclick="motorController('OFF')"
        >
            OFF
        </button>
    </div>

    <div>
        <p id="modeStatus">Mode: {{mode}}</p>
        <button
            id="manualButton"
            {%
            if
            mode=="MANUAL"
            %}disabled{%
            endif
            %}
            onclick="modeController('MANUAL')"
        >
            MANUAL
        </button>
        <button
            id="autoButton"
            {%
            if
            mode=="AUTO"
            %}disabled{%
            endif
            %}
            onclick="modeController('AUTO')"
        >
            AUTOMATIC
        </button>
    </div>

    <div class="container">
        <div class="control-buttons">
            <button class="arrow-button" onmousedown="move('up')" {%
                if data_from_button=="OFF"
                %}disabled{%
                endif
            %}>↑</button>
        </div>

        <div class="control-buttons">
            <button class="arrow-button" onmousedown="move('left')" {%
                if data_from_button=="OFF"
                %}disabled{%
                endif
            %}>←</button>
            <button class="arrow-button" onmousedown="move('down')" {%
                if data_from_button=="OFF"
                %}disabled{%
                endif
            %}>↓</button>
            <button class="arrow-button" onmousedown="move('right')" {%
                if data_from_button=="OFF"
                %}disabled{%
                endif
            %}>→</button>
        </div>
    </div>

    <!-- Other HTML code -->

    <script>
        var data_from_button = "{{data_from_button}}";
        var mode = "{{mode}}";

        function motorController(dataToSend) {
            fetch("/controller", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: "button_data=" + encodeURIComponent(dataToSend),
            })
                .then((response) => response.json())
                .then((data) => {
                    data_from_button = data.data_from_button;

                    document.getElementById("motorStatus").innerText = "Motors: " + data.data_from_button;

                    document.getElementById("onButton").disabled = data.data_from_button === "ON";
                    document.getElementById("offButton").disabled = data.data_from_button === "OFF";

                    const arrowButtons = document.querySelectorAll('.arrow-button');
                    arrowButtons.forEach(button => button.disabled = data.data_from_button === "OFF");
                })
                .catch((error) => {
                    console.error("Error sending data to server:", error);
                });
        }

        function modeController(modeType) {
            fetch("/controller", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: "mode=" + encodeURIComponent(modeType),
            })
                .then((response) => response.json())
                .then((data) => {
                    mode = data.mode;

                    document.getElementById("modeStatus").innerText = "Mode: " + data.mode;

                    document.getElementById("manualButton").disabled = data.mode === "MANUAL";
                    document.getElementById("autoButton").disabled = data.mode === "AUTO";
                    
                    const arrowButtons = document.querySelectorAll('.arrow-button');
                    arrowButtons.forEach(button => button.disabled = data.mode === "AUTO");
                })
                .catch((error) => {
                    console.error("Error sending data to server:", error);
                });
        }

        function move(direction) {
            fetch("/controller", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: "direction=" + encodeURIComponent(direction),
            }).then((response) => response.json())
        }

        document.addEventListener('keydown', function (event) {
            if (data_from_button === "OFF" || mode === "AUTO") {
                return;
            }
            switch (event.key) {
                case 'ArrowUp':
                    event.preventDefault();
                    move('up');
                    break;
                case 'ArrowDown':
                    event.preventDefault();
                    move('down');
                    break;
                case 'ArrowLeft':
                    event.preventDefault();
                    move('left');
                    break;
                case 'ArrowRight':
                    event.preventDefault();
                    move('right');
                    break;
            }
        });

    </script>
</body>
</html>
