<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IC2 Controller</title>
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='controller.css')}}"
/>
    <style>
        .container {
            margin-top: 100px;
        }

        .control-buttons {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .arrow-button {
            font-size: 20px;
            padding: 10px;
            cursor: pointer;
            margin: 5px; /* Adjust this margin to control the spacing between buttons */
        }
    </style>
</head>
<body>
    <h1>Controller Page</h1>
    <!-- <div>
        <button onclick="motorController('ON')" id="onButton">ON</button>
        <button onclick="motorController('OFF')" id="offButton">OFF</button>
    </div> -->
    <div style="margin-left: 15%">
        <div style="margin-bottom: 30px; padding-top: 50px;">
            <p>Motors: <span  id="motorStatus">{{motorStatus}}</span></p>
            <button
                id="onButton"
                {%
                if
                motorStatus=="ON"
                %}disabled{%
                endif
                %}
                onclick="motorController('ON')"
            >
                ON
            </button>
            <button
                id="offButton"
                {%
                if
                motorStatus=="OFF"
                %}disabled{%
                endif
                %}
                onclick="motorController('OFF')"
            >
                OFF
            </button>
        </div>

        <div style="margin-bottom: 30px;">
            <p >Mode: <span id="modeStatus">{{modeStatus}}</span></p>
            <button
                id="manualButton"
                {%
                if
                modeStatus=="MANUAL"
                %}disabled{%
                endif
                %}
                onclick="modeController('MANUAL')"
            >
                MANUAL
            </button>
            <button
                id="autoButton"
                {%
                if
                modeStatus=="AUTO"
                %}disabled{%
                endif
                %}
                onclick="modeController('AUTO')"
            >
                AUTOMATIC
            </button>
        </div>

        <div>
            <p>Power: <span id="powerStatus">{{powerStatus}}</span></p>
            <button
                id="lowButton"
                {%
                if
                powerStatus=="LOW"
                %}disabled{%
                endif
                %}
                onclick="powerController('LOW')"
            >
                LOW
            </button>
            <button
                id="midButton"
                {%
                if
                powerStatus=="MID"
                %}disabled{%
                endif
                %}
                onclick="powerController('MID')"
            >
                MID
            </button>
            <button
                id="highButton"
                {%
                if
                powerStatus=="HIGH"
                %}disabled{%
                endif
                %}
                onclick="powerController('HIGH')"
            >
                HIGH
            </button>
        </div>

        <div>
            <p>Language: <span id="language">{{language}}</span></p>
            <select class="dropdown">

                {% for language in languages %}
                <option value="{{ language }}">{{ language }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="container">
        <div class="control-buttons">
            <button class="arrow-button" onmousedown="move('up')" {%
                if motorStatus=="OFF"
                %}disabled{%
                endif
            %}>↑</button>
        </div>

        <div class="control-buttons">
            <button class="arrow-button" onmousedown="move('left')" {%
                if motorStatus=="OFF"
                %}disabled{%
                endif
            %}>←</button>
            <button class="arrow-button" onmousedown="move('down')" {%
                if motorStatus=="OFF"
                %}disabled{%
                endif
            %}>↓</button>
            <button class="arrow-button" onmousedown="move('right')" {%
                if motorStatus=="OFF"
                %}disabled{%
                endif
            %}>→</button>
        </div>
    </div>

    <!-- Other HTML code -->

    <script>
        var motorStatus = "{{motorStatus}}";
        var modeStatus = "{{modeStatus}}";
        var powerStatus = "{{powerStatus}}";

        function motorController(dataToSend) {
            fetch("/controller", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: "button_data=" + encodeURIComponent(dataToSend),
            })
                .then((response) => response.json())
                .then((data) => {
                    motorStatus = data.motorStatus;

                    document.getElementById("motorStatus").innerText = data.motorStatus;

                    document.getElementById("onButton").disabled = data.motorStatus === "ON";
                    document.getElementById("offButton").disabled = data.motorStatus === "OFF";

                    const arrowButtons = document.querySelectorAll('.arrow-button');
                    arrowButtons.forEach(button => button.disabled = (data.motorStatus === "OFF" || modeStatus === "AUTO"));
                })
                .catch((error) => {
                    console.error("Error sending data to server:", error);
                });
        }

        function modeController(modeType) {
            fetch("/controller", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: "modeStatus=" + encodeURIComponent(modeType),
            })
                .then((response) => response.json())
                .then((data) => {
                    modeStatus = data.modeStatus;

                    document.getElementById("modeStatus").innerText = data.modeStatus;

                    document.getElementById("manualButton").disabled = data.modeStatus === "MANUAL";
                    document.getElementById("autoButton").disabled = data.modeStatus === "AUTO";
                    
                    const arrowButtons = document.querySelectorAll('.arrow-button');
                    arrowButtons.forEach(button => button.disabled = (motorStatus === "OFF" || data.modeStatus === "AUTO"));
                })
                .catch((error) => {
                    console.error("Error sending data to server:", error);
                });
        }

        function powerController(power) {
            fetch("/controller", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: "powerStatus=" + encodeURIComponent(power),
            })
                .then((response) => response.json())
                .then((data) => {
                    powerStatus = data.powerStatus;

                    document.getElementById("powerStatus").innerText = data.powerStatus;

                    document.getElementById("lowButton").disabled = data.powerStatus === "LOW";
                    document.getElementById("midButton").disabled = data.powerStatus === "MID";
                    document.getElementById("highButton").disabled = data.powerStatus === "HIGH";
                })
                .catch((error) => {
                    console.error("Error sending data to server:", error);
                });
        }

        function move(direction) {
            fetch("/controller", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: "direction=" + encodeURIComponent(direction),
            }).then((response) => response.json())
        }

        const keyState = {
            ArrowUp: false,
            ArrowDown: false,
            ArrowLeft: false,
            ArrowRight: false,
        };

        document.addEventListener('keydown', function (event) {
            if (motorStatus === "OFF" || modeStatus === "AUTO") {
                return;
            }

            // Update key state when a key is pressed
            keyState[event.key] = true;

            // Check for combinations
            if (keyState.ArrowUp) {
                if (!keyState.ArrowLeft &&  !keyState.ArrowRight){
                    event.preventDefault();
                    move('forward');
                }
                if (keyState.ArrowLeft) {
                    event.preventDefault();
                    move('forward-left');
                } else if (keyState.ArrowRight) {
                    event.preventDefault();
                    move('forward-right');
                }
            } else if (keyState.ArrowLeft) {
                event.preventDefault();
                move('left');
            } else if (keyState.ArrowRight) {
                event.preventDefault();
                move('right');
            } else if (keyState.ArrowDown) {
                event.preventDefault();
                move('backward');
            }
        });

        document.addEventListener('keyup', function (event) {
            // Update key state when a key is released
            keyState[event.key] = false;
        });

    </script>
</body>
</html>
